.dhs{overflow:hidden;zoom:1;}
#list3{float:left;overflow:hidden;zoom:1;}
#list3 li,.xie li{float:left;margin-right:30px;}
#list3 li.hovers{color:#007AFF;}
.xie{float:right;overflow:hidden;zoom:1}
.xies a{color:#fff;background-color:#007AFF;padding:10px}
#yj_box dl{overflow:hidden;zoom:1;padding:20px 0px}
#yj_box dt{float:left;}
#yj_box dd{float:left;width:600px;padding:5px 0px;margin-left:40px}
.spc{float:right;margin-right:50px;}
#yj_box dd img{vertical-align:middle;}
.fy li{float:left;margin-right:30px;border:1px solid #ccc;width:50px;text-align:center}
.fy a{width:50px;display:block;}
.fy ul{overflow:hidden;zoom:1;}
.fy{margin-left:300px;margin-bottom:20px}
.fy li a:hover{color:#fff;background-color:#007AFF;}
#yj_right{float:left;width:230px;margin-left:50px}
#yj_left{float:left;width:1000px}
.to{padding: 7px;border-bottom: dotted 2px #C9C9C9;overflow:hidden;zoom: 1;}
.xtgg{float:left;}
.gd{float:right;}
.ull{overflow:hidden;zoom:1;margin:20px 0px;}
.ull li{border-left:solid 2px #FDC726;margin-bottom:20px;margin-left:10px;padding-left:10px}
.fo{padding: 7px;border-bottom: dotted 2px #C9C9C9;overflow: hidden;zoom: 1;margin-bottom: 20px;}
.bb{padding: 5px 0;}
.haha{color: #999;font-size: 12px;}
